[submodule "skills"]
	path = skills
	url = git@github.com:markdown-viewer/skills.git
[submodule "docs"]
	path = docs
	url = git@github.com:markdown-viewer/docs.git
[submodule "obsidian/release"]
	path = obsidian/release
	url = git@github.com:markdown-viewer/obsidian.git
